# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.egg-info
.venv/
venv/
myvenv/
.env

# --- Terraform ---
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# --- Project Data & Benchmarks ---
data/
results/
logs/
**/*.zip
package_*/
lambda_function/
!package.json
/tmp/gtfs
"* copy.py"
"**/test.py"
"*_old.py"

# --- OS ---
.DS_Store
Thumbs.db
.history/
*.log
