# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info
.venv/
venv/
myvenv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Project Specific Data & Temporary Files
data/
results/
*.zip
*.json
/tmp/gtfs
codebook.toml
lambda_function/
scripts/test.py

# OS
.DS_Store
Thumbs.db
data/*
__pycache__
