# Python
__pycache__/
*.py[cod]
*$py.class
venv/
myvenv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Data & Temporary Files
data/
*.zip
/tmp/gtfs
scripts/test.py
lambda_function/

# OS
.DS_Store
Thumbs.db

# Project Specific
scripts.zip
lambda_function.zip
